<div class="nav-bar">
  <div id="logo"></div>
  <div id="heading"><a routerLink="/">Batto Chatto</a></div>
  <div class="tiny-version-number"><a class="btn" routerLink="/patch_notes">{{ versionNumber }}</a></div>
  <div class="links">
    <span class="nav-btn" *ngIf="!(user|async)?.uid">
      <a (click)="login()">Login!</a>
    </span>
    <span class="nav-btn" *ngIf="!(user|async)?.uid">
      <a routerLink="/signup">Sign Up!</a>
    </span>
    <span class="nav-btn" *ngIf="(user|async)?.uid">
      <span id="username">Hello, {{ displayName }}</span>
    </span>
    <span class="nav-btn" *ngIf="(user|async)?.uid">
      <a routerLink="/chatto">Chat!</a>
    </span>
    <span class="nav-btn" *ngIf="(user|async)?.uid">
      <a (click)="logout()">Logout</a>
    </span>
  </div>
</div>
