.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 243, 255);
}

#logo{
    display: inline-block;
    background: url('../../assets/img/bat-face-512.png') no-repeat;
    background-size: cover;
    margin: 12px 10px 12px 32px;
    width: 60px;
    height: 60px;
    min-width: 60px;
}

#heading{
    flex: 4;
    padding: 24px 0px 8px 10px;
    height: 60px;
    font-size: 1.8em;
    font-weight: bold;
}

.links{
    padding-top: 32px;
    padding-right: 30px;
    white-space: nowrap;
    display: block;
}

#heading > a{
    text-decoration: none;
    color: black;
}

.links a{
    color: #555;
    text-decoration: none;
    transition: ease-in 0.2s;
    padding-right: 12px;
    overflow: hidden;
}

.links a:hover {
    color: #1E88E5;
    transition: ease-in 0.2s;
}

#username {
    padding-right: 16px;
    font-weight: bold;
}

.nav-btn {
    padding: 10px 20px;
    margin: 0px 50px;
    font-size: 1.2rem;
}