.main-content {
  display: flex;
}

.user-list-wrapper {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 1;
  color: #fff;
  order: 1;
  background-color: #2a2845;
  padding: 20px 0px 40px 30px;
  border-right: 1px solid #222;
}

.feed-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 5;
  order: 2;
  overflow-y: scroll;
  padding: 20px 0px 0px 24px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(100, 200, 255, 0.6), rbga(0, 0, 0, 0.9)),
    url(https://www.elastic.co/assets/bltada7771f270d08f6/enhanced-buzz-1492-1379411828-15.jpg) center center no-repeat;
  ;
}

.chat-form-wrapper {
  display: flex;
  height: 50px;
  background-color: #eee;
  z-index: 3;
}
