@media (min-width: 1200px) {
  .main-content {
    height: 80vh;
    display: flex;
  }

  .user-list-wrapper {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 1;
    color: #fff;
    order: 1;
    background-color: #332845;
    padding: 20px 0px 40px 30px;
    border-right: 1px solid #222;
  }

  .feed-wrapper {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: auto;
    padding: 20px 0px 0px 24px;
    background: linear-gradient(180deg, rgba(184, 121, 255, 0.52), rgba(228, 228, 228, 0.918)),
      url('../../assets/img/bats-metamorph-bkg.jpg') center center no-repeat;
    ;
  }

  .chat-form-wrapper {
    display: flex;
    height: 5vh;
    background-color: rgb(214, 214, 214);
    z-index: 3;
  }

  .chat-bottom-margin {
    display: flex;
    height: 5vh;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }

  .welcome-message {
    padding: 1vh 2vw;
  }

  .secret-bar {
    padding: 1vh 2vw;
    background-color: #2a2845;
  }

  .pig-message {
    padding: 1vh 2vw;
    color: palevioletred;
  }

  .setting {
    cursor: pointer;
    padding: 0 2vw;
  }

  .btn {
    cursor: pointer;
  }

  .pig-mode-bkg {
    background: linear-gradient(rgba(216, 112, 207, 0.527), rgba(238, 73, 73, 0.308)), url('../../assets/img/piggo.jpg') center center no-repeat;
  }

  .pig-mode {
    background: palevioletred;
  }

  .night-mode {
    background: linear-gradient(rgba(100, 50, 133, 0.397), rgba(87, 49, 87, 0.308)), url('../../assets/img/dark-scary-lake-at-night-background.png');
  }

  .glow-setting {
    text-shadow: 0px 0px 8px #fff;
  }

  .profanity-setting {
    font-family: 'Petit Formal Script', 'Lucida Sans', Verdana, sans-serif;
  }

  .night-setting {
    color: #332845;
    text-shadow: 0px 0px 5px white;
  }
}

@media (max-width: 1199px) {
  .main-content {
    height: 80vh;
    display: flex;
  }

  .user-list-wrapper {
    display: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    /* flex: 1; */
    color: #fff;
    order: 1;
    background-color: #332845;
    /* padding: 5px 0px 5px 5px; */
    border-right: 1px solid #222;
  }

  .feed-wrapper {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow-y: auto;
    /* padding: 20px 0px 0px 24px; */
    background: linear-gradient(180deg, rgba(184, 121, 255, 0.52), rgba(228, 228, 228, 0.918)),
      url('../../assets/img/bats-metamorph-bkg.jpg') center center no-repeat;
    ;
  }

  .chat-form-wrapper {
    display: flex;
    height: 5vh;
    background-color: rgb(214, 214, 214);
    z-index: 3;
  }

  .chat-bottom-margin {
    display: flex;
    height: 5vh;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.3rem;
  }

  .welcome-message {
    padding: 0;
    font-size: 0.8em;
    width: 20vw;
  }

  #set-btn {
    padding: 1vh 2vw;
  }

  .welcome-message >a {
    font-size: 0.7em;
    padding: 0;
  }

  .secret-bar {
    display: block;
    background-color: #2a2845;
    font-size: 0.7em;
    height: 5vh;
    overflow-y: auto;
  }

  .pig-message {
    padding: 1vh 2vw;
    color: palevioletred;
  }

  .setting {
    padding: 2vh 2vw;
    display: block;
  }

  .pig-mode-bkg {
    background: linear-gradient(rgba(216, 112, 207, 0.527), rgba(238, 73, 73, 0.308)), url('../../assets/img/piggo.jpg') center center no-repeat;
  }

  .pig-mode {
    background: palevioletred;
  }

  .night-mode {
    background: linear-gradient(rgba(100, 50, 133, 0.397), rgba(87, 49, 87, 0.308)), url('../../assets/img/dark-scary-lake-at-night-background.png');
  }

  .glow-setting {
    text-shadow: 0px 0px 8px #fff;
  }

  .profanity-setting {
    font-family: 'Petit Formal Script', 'Lucida Sans', Verdana, sans-serif;
  }

  .night-setting {
    color: #332845;
    text-shadow: 0px 0px 5px white;
  }
}