.main-content {
  height: 80vh;
  display: flex;
}

.user-list-wrapper {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 1;
  color: #fff;
  order: 1;
  background-color: #2a2845;
  padding: 20px 0px 40px 30px;
  border-right: 1px solid #222;
}

.feed-wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  flex: 5;
  order: 2;
  overflow-y: scroll;
  padding: 20px 0px 0px 24px;
  background-color: #fff;
  background: linear-gradient(180deg, rgba(100, 200, 255, 0.6), rbga(0, 0, 0, 0.9)),
    url(https://www.elastic.co/assets/bltada7771f270d08f6/enhanced-buzz-1492-1379411828-15.jpg) center center no-repeat;
  ;
}

.chat-form-wrapper {
  display: flex;
  height: 5vh;
  background-color: #eee;
  z-index: 3;
}

.chat-bottom-margin {
  display: flex;
  height: 5vh;
  background-color: black;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 1.3rem;
}

.welcome-message {
  padding: 1vh 2vw;
}

.secret-bar {
  padding: 1vh 2vw;
  background-color: #2a2845;
}

.pig-message {
  padding: 1vh 2vw;
  color: palevioletred;
}

.setting {
  cursor: pointer;
  padding: 0 2vw;
}

.btn {
  cursor: pointer;
}

.pig-mode-bkg {
  background: linear-gradient(rgba(216, 112, 207, 0.527), rgba(238, 73, 73, 0.308)), url('../../assets/img/piggo.jpg') center center no-repeat;
}

.pig-mode {
  background: palevioletred;
}
