<div class="main-content">
  <div class="user-list-wrapper" [ngClass]="{'pig-mode-bkg':pigMode}">
    <app-user-list></app-user-list>
  </div>
  <div #scroller class="feed-wrapper" [ngClass]="{'night-mode':nightMode}">
    <app-feed></app-feed>
  </div>
</div>
<div class="chat-form-wrapper">
  <app-chat-form></app-chat-form>
</div>
<div class="chat-bottom-margin">
  <span class="welcome-message">
    <a class="btn" routerLink="/patch_notes">
      {{ welcomeMessage }}
    </a>
  </span>
  <span class="welcome-message btn" id="set-btn" (click)="toggleSettings()">
    Settings
  </span>
  <span *ngIf="settings" class="secret-bar btn" [ngClass]="{'pig-mode':pigMode}">
    <span class="setting" [ngClass]="{'night-setting':nightMode}" (click)="toggleNightMode()">
      Night Mode
    </span>
    <span class="setting" [ngClass]="{'glow-setting':headerGlow}" (click)="toggleHeaderGlow()">
      Header Glow
    </span>
    <span class="setting" [ngClass]="{'profanity-setting':profanity}" (click)="toggleProfanityFilter()">
      Profanity Filter
    </span>
    <span *ngIf="pigSecret" class="setting" (click)="togglePigMode()">
      PL Mode
    </span>
  </span>
  <span *ngIf="pigMode" class="pig-message">
    {{ pigMessage }}
  </span>
</div>
