.message-container {
  display: flex;
  height: auto;
  width: 70%;
  min-width: 400px;
  border-radius: 5px;
  align-items: stretch;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
}

.is-own-message-container {
  background-color: #454381;
}

.message-data {
  flex: 1;
  padding: 10px;
  font-size: 0.7em;
}

.sender {
  display: block;
  color: #222;
  font-weight: bold;
}

.is-own-sender {
  color: #9bdfff;
}

.timestamp {
  color: #555;
  font-style: italic;
}

.is-own-timestamp {
  color: #d5f2ff;
}

.message-content {
  height: auto;
  flex: 9;
  color: #222;
  background-color: aliceblue;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.is-own-message {
  background-color: #e3f2fd;
  color: #1d252b;
}
