div {
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    margin: 50px;
}

.patch-list {
    color: rgb(82, 4, 4);
    font-size: 1.5em;
    font-variant: normal;
    margin: 20px;
}

.footer {
    text-align: center;
}