<div class="container">
  <h1 class="header">
    Patch Updates
  </h1>
  <div class="patches">
      <span class="patch-divider">
          <h2 class="patch-header">
            Patch 2 - Version 0.9.0 - 04/23/2019
          </h2>
          <ul class="patch-list">
            <li>Location changed, app name is no longer ng-chat-app</li>
            <li>Batto Bot functionality increased</li>
            <li>Chat log clear and version update notification commands implemented through !bbot</li>
            <li>Chatto Bot online -- say `Hello ChattoBot!`</li>
          </ul>
        </span>
    <span class="patch-divider">
      <h2 class="patch-header">
        Patch 1 - Version 0.8.1 - 04/23/2019
      </h2>
      <ul class="patch-list">
        <li>Version is now update globally from root project data</li>
        <li>Login/Signup now harder to break</li>
        <li>Style updates</li>
      </ul>
    </span>
    <span class="patch-divider">
      <h2 class="patch-header">
        Patch 0 - Version 0.8.0 - 04/22/2019
      </h2>
      <ul class="patch-list">
        <li>Initial deployment!</li>
        <li>Sign up, login, and chat features are functional</li>
        <li>Mobile version not enabled</li>
        <li>Implemented Pig (Latin) mode as well as Night Mode in Settings tab</li>
        <li>Implemented secret commands</li>
        <li>User list with online/offline updating implemented</li>
        <li>Current user's chat bubbles will look different to that user</li>
        <li>Implemented patch notes page and version updates</li>
        <li>Chat is protected from unauthenticated users but unfortunately logged in users can access the login/signup
          pages
          at the moment</li>
        <li>"Page not found" page implemented</li>
        <li>More features to come</li>
      </ul>
    </span>
  </div>
  <div class="footer">
    <a href="https://www.patreon.com/shoey_gooey" class="support">Support Batto Chatto on Patreon</a>
  </div>
</div>
