<div class="container">
  <h1 class="header">
    Patch Updates
  </h1>
  <div class="patches">
    <!--
      Chatto bot should not overlap with pig mode
      reactions
      logout errors
      unsubscribe/multiple chats
      PMs
      images/files
      modal
      - online offline regul
      reactions persisted
      personal profile changes
      accurate timestamps
      UTC offset
    -->
    <div class="patch-divider">
        <h2 class="patch-header">
          Patch 8 - Version 0.9.6 - 04/25/2019
        </h2>
        <ul class="patch-list">
          <li>Style updates -- Transparency added to chat bubbles</li>
          <li>Big mobile changes! Mobile browser version is now formatted for smaller screens</li>
        </ul>
      </div>
    <div class="patch-divider">
        <h2 class="patch-header">
          Patch 7 - Version 0.9.5 - 04/25/2019
        </h2>
        <ul class="patch-list">
          <li>Profanity filter on (default) -- toggle in settings</li>
          <li>Turned the header glow down a notch</li>
          <li>Spam blocker implemented! More than 3 messages with 3 seconds will earn you a 30 second spam block</li>
          <li>Settings buttons now change style based on state</li>
          <li>Overly long messages will overflow with a scrollbar instead of taking up more than 30% of the view</li>
          <li>Choice words added to the profanity filter list</li>
          <li>Style updates</li>
        </ul>
      </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 6 - Version 0.9.4 - 04/24/2019
      </h2>
      <ul class="patch-list">
        <li>Added one more easter egg</li>
        <li>Batto Chatto title header now pulses it's serene glow or whatever</li>
        <li>Added option in settings bar to stop header from glowing in case you don't fancy neon aesthetic</li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 5 - Version 0.9.3 - 04/24/2019
      </h2>
      <ul class="patch-list">
        <li>No longer able to reach login or signup pages *by clicking* while logged in</li>
        <li>Patch notes are now reachable from a new button on the login screen and by clicking the version number in the navbar</li>
        <li>Patch notes styling updated</li>
        <li>Added a very primitive form of "reacting" to messages -- click any message to add a small heart in the message data section</li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 4 - Version 0.9.2 - 04/23/2019
      </h2>
      <ul class="patch-list">
        <li>Chat bubbles are now located on either side of the feed instead of only left</li>
        <li>cbot update -- using `!cb feedback &lt;your-message&gt;` now sends <span (click)="secret()">developer</span> feedback!</li>
        <li>More bbot commands implemented</li>
        <li>Pig mode fixed! The big pig returns!</li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 3 - Version 0.9.1 - 04/23/2019
      </h2>
      <ul class="patch-list">
        <li>More styling updates to feed and navbar</li>
        <li>cbot "hello" update - Hello response now updated to change based on time of day</li>
        <li>cbot update -- try `!cb add &lt;number1&gt; &lt;number2&gt;` -- e.g. <b>!cb add 1233 495</b></li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 2 - Version 0.9.0 - 04/23/2019
      </h2>
      <ul class="patch-list">
        <li>Location changed, app name is no longer ng-chat-app</li>
        <li>Batto Bot functionality increased</li>
        <li>Chat log clear and version update notification commands implemented through !bbot</li>
        <li>Chatto Bot online -- say `!cb Hello Batto!`</li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 1 - Version 0.8.1 - 04/23/2019
      </h2>
      <ul class="patch-list">
        <li>Version is now update globally from root project data</li>
        <li>Login/Signup now harder to break</li>
        <li>Style updates</li>
      </ul>
    </div>
    <div class="patch-divider">
      <h2 class="patch-header">
        Patch 0 - Version 0.8.0 - 04/22/2019
      </h2>
      <ul class="patch-list">
        <li>Initial deployment!</li>
        <li>Sign up, login, and chat features are functional</li>
        <li>Mobile version not enabled</li>
        <li>Implemented Pig (Latin) mode as well as Night Mode in Settings tab</li>
        <li>Implemented secret commands</li>
        <li>User list with online/offline updating implemented</li>
        <li>Current user's chat bubbles will look different to that user</li>
        <li>Implemented patch notes page and version updates</li>
        <li>Chat is protected from unauthenticated users but unfortunately logged in users can access the login/signup
          pages
          at the moment</li>
        <li>"Page not found" page implemented</li>
        <li>More features to come</li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <a href="https://www.patreon.com/shoey_gooey" class="support">Support Batto Chatto on Patreon</a>
  </div>
</div>
