@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(188, 207, 223);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

app-chatroom {
    display: flex;
    flex-direction: column;
}

app-navbar {
    width: 100%;
}

app-chat-form {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: none;
}

.message {
    display: block;
    height: auto;
}
