@media (min-width: 1200px) {
  div {
    font-family: 'Raleway', sans-serif;
    font-variant: small-caps;
    margin: 50px;
    text-align: center;
    color: rgb(82, 4, 4);
    font-size: 1.5em;
  }

  .fun-pic {
    margin: auto;
  }

  .return {
    background-color: aliceblue;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    padding: 1vh 1vw;
  }
}
